<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.rtw88.RTW88Server</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RTW88Server</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleExecutable</key>
	<string>RTW88Server</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RTW88Server</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtw88.RTW88Server</string>
			<key>IOClass</key>
			<string>RTW88Server</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOPCIMatch</key>
			<string>0xc82110ec</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
